openapi: 3.1.0
info:
  title: PayOrder W3 Guardian API
  version: 0.1.0
  description: >
    API do PayOrder W3 Guardian — geração, registro, consulta e pagamento de cobranças
    como ordens de pagamento Web3 na Stellar Testnet, com registro verificável em contrato
    Soroban. MVP opera exclusivamente em TESTNET. A wallet destino é resolvida
    automaticamente a partir do tenant; nunca informada na criação da cobrança.
servers:
  - url: https://api-payorder.guardianlabs.com.br/api
    description: VPS (Testnet)
  - url: http://localhost:3000/api
    description: Local
tags:
  - name: Auth
  - name: Tenants
  - name: Payment Orders
  - name: Public
  - name: Health
  - name: Docs

security:
  - AdminJWT: []
  - ApiKey: []

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Login do admin (emite JWT)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /auth/register:
    post:
      tags: [Auth]
      summary: Registro de admin (cria conta e emite JWT)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /health:
    get:
      tags: [Health]
      summary: Liveness
      security: []
      responses:
        "200": { description: OK }
  /ready:
    get:
      tags: [Health]
      summary: Readiness (DB/Redis/Soroban RPC)
      security: []
      responses:
        "200": { description: Ready }
        "503": { description: Not ready }

  /docs:
    get:
      tags: [Docs]
      summary: Documentação interativa da API (Swagger UI)
      security: []
      responses:
        "200":
          description: OK
          content:
            text/html:
              schema: { type: string }

  /docs/redoc:
    get:
      tags: [Docs]
      summary: Documentação de referência da API (ReDoc)
      security: []
      responses:
        "200":
          description: OK
          content:
            text/html:
              schema: { type: string }

  /docs/openapi.yaml:
    get:
      tags: [Docs]
      summary: Contrato OpenAPI bruto (YAML)
      security: []
      responses:
        "200":
          description: OK
          content:
            application/yaml:
              schema: { type: string }

  /tenants:
    post:
      tags: [Tenants]
      summary: Cria tenant
      description: >
        O documento é único (409 TENANT_DOCUMENT_CONFLICT). Quando uma wallet é informada, ela
        deve ser exclusiva de um único tenant: uma wallet já vinculada a outro tenant retorna
        409 TENANT_WALLET_CONFLICT.
      security: [ { AdminJWT: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateTenantRequest" }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Tenant" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
    get:
      tags: [Tenants]
      summary: Lista tenants
      security: [ { AdminJWT: [] } ]
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [ACTIVE, INACTIVE] } }
        - { name: document, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/Tenant" } }
                  total: { type: integer }
                required: [items, total]

  /tenants/{id}:
    get:
      tags: [Tenants]
      summary: Consulta tenant
      security: [ { AdminJWT: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Tenant" }
        "404": { $ref: "#/components/responses/NotFound" }

  /tenants/{id}/activate:
    post:
      tags: [Tenants]
      summary: Ativa tenant
      description: >
        Requer uma wallet cadastrada e existente na rede Stellar. Sem wallet retorna
        409 TENANT_WALLET_NOT_SET; com uma wallet inexistente on-chain retorna
        422 STELLAR_ACCOUNT_NOT_FOUND.
      security: [ { AdminJWT: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Tenant" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /tenants/{id}/deactivate:
    post:
      tags: [Tenants]
      summary: Inativa tenant
      security: [ { AdminJWT: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Tenant" } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /tenants/{id}/wallet:
    get:
      tags: [Tenants]
      summary: Consulta wallet do tenant
      security: [ { AdminJWT: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TenantWallet" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Tenants]
      summary: Cadastra/atualiza wallet do tenant
      description: >
        A wallet é verificada na rede Stellar antes de ser salva; uma conta inexistente
        on-chain é rejeitada com 422 STELLAR_ACCOUNT_NOT_FOUND. Uma wallet já vinculada a outro
        tenant é rejeitada com 409 TENANT_WALLET_CONFLICT. Bloqueado se houver ordens
        ACTIVE (409 WALLET_CHANGE_BLOCKED_ACTIVE_ORDERS).
      security: [ { AdminJWT: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TenantWallet" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Tenant" } } } }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /onboarding/wallet:
    get:
      tags: [Tenants]
      summary: Consulta se a conta do admin já está vinculada a uma wallet
      description: >
        Usado pelo painel para decidir se o gate obrigatório de conexão de carteira (feature
        "onboarding-wallet-required") deve ser exibido — inclusive antes de existir um tenant
        para o admin (equivalente a `has_wallet: false`). Único endpoint, além do `POST`
        abaixo, que um admin sem wallet ainda pode acessar.
      security: [ { AdminJWT: [] } ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OnboardingStatus" }
    post:
      tags: [Tenants]
      summary: Conecta a wallet do admin recém-registrado ao seu tenant
      description: >
        Fluxo de auto-onboarding: após o registro, o painel solicita a conexão da carteira e
        salva a chave pública no tenant do admin (criando o tenant na primeira conexão, com
        nome/documento provisórios editáveis). O tenant é resolvido pelo e-mail do admin
        autenticado; a wallet nunca é aceita de outra origem. Toda conta sem wallet vinculada
        fica bloqueada (403 WALLET_REQUIRED) em qualquer outra rota admin até chamar este
        endpoint (feature "onboarding-wallet-required").
      security: [ { AdminJWT: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TenantWallet" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Tenant" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /payment-orders:
    post:
      tags: [Payment Orders]
      summary: Cria cobrança (manual/API/ERP)
      description: >
        A wallet destino NÃO é aceita no payload; é resolvida do tenant. Resolve tenant por
        tenant_id, slug ou tenant_document. Idempotency-Key obrigatório.
      security: [ { AdminJWT: [] }, { ApiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreatePaymentOrderRequest" }
            examples:
              porTenantId:
                value:
                  tenant_id: tenant_123
                  amount: "150.00"
                  asset_code: XLM
                  due_date: "2026-07-10"
                  description: Cobrança gerada no PayOrder W3 Guardian
                  external_id: ORDER-123456
                  metadata: { source: manual, customer_reference: CLIENTE-999 }
              erp:
                value:
                  source: ERP
                  external_id: ERP-123456
                  tenant_document: "12345678000199"
                  amount: "150.00"
                  asset_code: XLM
                  due_date: "2026-07-10"
                  description: Cobrança gerada pelo ERP
                  callback_url: https://erp.example.com/webhook/payments
                  metadata: { invoice_number: NF-1001, customer_reference: CLIENTE-999 }
      responses:
        "202":
          description: Aceito (registro on-chain assíncrono)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaymentOrder" }
        "200":
          description: Ordem já existente (idempotência por tenant_id+external_id)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaymentOrder" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
    get:
      tags: [Payment Orders]
      summary: Lista cobranças
      security: [ { AdminJWT: [] }, { ApiKey: [] } ]
      parameters:
        - { name: status, in: query, schema: { $ref: "#/components/schemas/OrderStatus" } }
        - { name: tenant_id, in: query, schema: { type: string } }
        - { name: external_id, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/PaymentOrder" } }
                  total: { type: integer }
                required: [items, total]
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /payment-orders/batch:
    post:
      tags: [Payment Orders]
      summary: Cria múltiplas cobranças em um único request (integradores ERP)
      description: >
        Processa cada item com as mesmas regras de /payment-orders (uma falha não aborta as
        demais). Idempotency-Key obrigatório e cobre o payload inteiro; a deduplicação por
        item usa (tenant_id, external_id), como em /payment-orders. Limite de 100 itens por
        request; a resposta é sempre 200 e traz um relatório por item (sucesso ou erro).
      security: [ { AdminJWT: [] }, { ApiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreatePaymentOrderBatchRequest" }
      responses:
        "200":
          description: Relatório de processamento (sucesso total ou parcial)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreatePaymentOrderBatchResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /payment-orders/{id}:
    get:
      tags: [Payment Orders]
      summary: Consulta cobrança por id
      security: [ { AdminJWT: [] }, { ApiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/PaymentOrder" } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /payment-orders/{id}/status:
    get:
      tags: [Payment Orders]
      summary: Status on-chain/off-chain
      security: [ { AdminJWT: [] }, { ApiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaymentOrderStatus" }
        "404": { $ref: "#/components/responses/NotFound" }

  /payment-orders/{id}/events:
    get:
      tags: [Payment Orders]
      summary: Eventos da ordem
      security: [ { AdminJWT: [] }, { ApiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/PaymentOrderEvent" } }
                required: [items]
        "404": { $ref: "#/components/responses/NotFound" }

  /payment-orders/{id}/cancel:
    post:
      tags: [Payment Orders]
      summary: Cancela cobrança ACTIVE
      security: [ { AdminJWT: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/PaymentOrder" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /payment-orders/{id}/webhooks/resend:
    post:
      tags: [Payment Orders]
      summary: Reenvia webhook
      security: [ { AdminJWT: [] }, { ApiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdParam" } ]
      responses:
        "202":
          description: Reenvio despachado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookResendResult" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /public/payment-orders/{slug}:
    get:
      tags: [Public]
      summary: Dados públicos da cobrança para pagamento
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicPaymentOrder" }
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    AdminJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string }
  responses:
    NotFound:
      description: Não encontrado
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Conflict:
      description: Conflito de estado
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Unauthorized:
      description: Não autenticado
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Forbidden:
      description: Sem permissão
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    UnprocessableEntity:
      description: Falha de validação de domínio
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
            details: { type: object, additionalProperties: true }
          required: [code, message]
      required: [error]
    OrderStatus:
      type: string
      enum: [CREATED, ACTIVE, PAID, EXPIRED, CANCELLED, FAILED]
    TenantStatus:
      type: string
      enum: [ACTIVE, INACTIVE]
    TenantWallet:
      type: object
      properties:
        stellar_wallet_public_key:
          type: string
          pattern: "^G[A-Z2-7]{55}$"
        stellar_network:
          type: string
          enum: [TESTNET]
      required: [stellar_wallet_public_key, stellar_network]
    CreateTenantRequest:
      type: object
      properties:
        name: { type: string }
        legal_name: { type: string }
        document_type: { type: string, enum: [CNPJ, CPF, OTHER] }
        document_number: { type: string }
        admin_email: { type: string, format: email }
        default_asset_code: { type: string }
        default_asset_issuer: { type: [string, "null"] }
        stellar_wallet_public_key: { type: [string, "null"], pattern: "^G[A-Z2-7]{55}$" }
        stellar_network: { type: string, enum: [TESTNET], default: TESTNET }
      required: [name, legal_name, document_type, document_number, admin_email, default_asset_code]
    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        legal_name: { type: string }
        document_type: { type: string, enum: [CNPJ, CPF, OTHER] }
        document_number: { type: string }
        admin_email: { type: string }
        stellar_wallet_public_key: { type: [string, "null"] }
        stellar_network: { type: string, enum: [TESTNET] }
        default_asset_code: { type: string }
        default_asset_issuer: { type: [string, "null"] }
        status: { $ref: "#/components/schemas/TenantStatus" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    OnboardingStatus:
      type: object
      properties:
        has_wallet:
          type: boolean
          description: >
            false até o admin conectar uma wallet (feature "onboarding-wallet-required") —
            inclusive quando o tenant ainda nem existe.
      required: [has_wallet]
    CreatePaymentOrderRequest:
      type: object
      description: >
        Não inclui wallet destino (proibido — 422 WALLET_NOT_ALLOWED_ON_ORDER). Informe
        tenant_id OU tenant_document (ou slug) para resolver o tenant.
      properties:
        source: { type: string, example: ERP }
        tenant_id: { type: string }
        slug: { type: string }
        tenant_document: { type: string }
        amount: { type: string, example: "150.00" }
        asset_code: { type: [string, "null"] }
        asset_issuer: { type: [string, "null"] }
        due_date: { type: [string, "null"], format: date }
        description: { type: [string, "null"] }
        external_id: { type: [string, "null"] }
        callback_url: { type: [string, "null"], format: uri }
        metadata: { type: object, additionalProperties: true }
      required: [amount]
    CreatePaymentOrderBatchRequest:
      type: object
      properties:
        orders:
          type: array
          minItems: 1
          maxItems: 100
          items: { $ref: "#/components/schemas/CreatePaymentOrderRequest" }
      required: [orders]
    CreatePaymentOrderBatchResponse:
      type: object
      properties:
        summary:
          type: object
          properties:
            total: { type: integer }
            created: { type: integer }
            failed: { type: integer }
          required: [total, created, failed]
        results:
          type: array
          items: { $ref: "#/components/schemas/BatchItemResult" }
      required: [summary, results]
    BatchItemResult:
      type: object
      description: >
        Exatamente um de `order`/`error` está presente, conforme o item foi criado ou falhou.
      properties:
        index: { type: integer, description: "Posição do item no array `orders` enviado." }
        order: { $ref: "#/components/schemas/PaymentOrder" }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }
          required: [code, message]
      required: [index]
    PaymentOrder:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        external_id: { type: [string, "null"] }
        amount: { type: string }
        asset_code: { type: string }
        asset_issuer: { type: [string, "null"] }
        receiver_wallet_public_key: { type: string }
        canonical_payload_hash: { type: string }
        status: { $ref: "#/components/schemas/OrderStatus" }
        source: { type: string }
        due_date: { type: [string, "null"], format: date }
        description: { type: [string, "null"] }
        public_payment_slug: { type: string }
        public_payment_url: { type: string }
        soroban_contract_id: { type: [string, "null"] }
        blockchain_transaction_hash: { type: [string, "null"] }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        paid_at: { type: [string, "null"], format: date-time }
    PublicPaymentOrder:
      type: object
      properties:
        status: { $ref: "#/components/schemas/OrderStatus" }
        network: { type: string, enum: [TESTNET] }
        receiver:
          type: object
          properties:
            name: { type: string }
            document: { type: [string, "null"] }
            wallet_public_key: { type: string }
        amount: { type: string }
        asset_code: { type: string }
        asset_issuer: { type: [string, "null"] }
        due_date: { type: [string, "null"], format: date }
        order_id: { type: string }
        canonical_payload_hash: { type: string }
        soroban_contract_id: { type: [string, "null"] }
        explorer_url: { type: [string, "null"] }
    PaymentOrderEvent:
      type: object
      properties:
        event_type: { type: string }
        payload: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
      required: [event_type, payload, created_at]
    PaymentOrderStatus:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { $ref: "#/components/schemas/OrderStatus" }
        soroban_contract_id: { type: [string, "null"] }
        blockchain_transaction_hash: { type: [string, "null"] }
        paid_at: { type: [string, "null"], format: date-time }
        explorer_url: { type: [string, "null"] }
      required: [id, status]
    WebhookResendResult:
      type: object
      properties:
        delivery_id: { type: string, format: uuid }
        event_type: { type: string }
        status: { type: string, enum: [pending, delivered, failed] }
      required: [delivery_id, event_type, status]
    LoginRequest:
      type: object
      properties:
        email: { type: string, format: email }
        password: { type: string }
      required: [email, password]
    RegisterRequest:
      type: object
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
      required: [email, password]
    LoginResponse:
      type: object
      properties:
        access_token: { type: string }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer }
        admin:
          type: object
          properties:
            id: { type: string, format: uuid }
            email: { type: string, format: email }
            role: { type: string }
          required: [id, email, role]
      required: [access_token, token_type, expires_in, admin]
